<details-modal class="header__search">
    <div class="header__search small-hide medium-hide">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
      {%- endif -%} 
        <form action="{{ routes.search_url }}" method="get" role="search" class="search header__search-form">
          <div class="field">
            <input class="search__input field__input" 
              id="Search-In-Modal-d"
              type="search"
              name="q"
              value=""
              placeholder="{{ 'general.search.search' | t }}"
              {% if settings.predictive_search_enabled %}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false" 
              {% endif %}>
            <label class="field__label" for="Search-In-Modal-d">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              {% render 'icon-search' %}
            </button>
          </div>
          
          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              <div class="predictive-search__loading-state">
                {% render 'icon-spinner' %}
              </div>
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
      {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- endif -%}
    </div>
</details-modal>