<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}
    
		{%- liquid
			assign header_font_light = settings.type_header_font | font_modify: 'weight', '300'
      assign header_font_medium = settings.type_header_font | font_modify: 'weight', '500'
      assign header_font_semibold = settings.type_header_font | font_modify: 'weight', '600'
      assign header_font_bold = settings.type_header_font | font_modify: 'weight', 'bold'
      assign header_font_extrabold = settings.type_header_font | font_modify: 'weight', '800'
      assign header_font_black = settings.type_header_font | font_modify: 'weight', '900'
      assign header_font_italic = settings.type_header_font | font_modify: 'style', 'italic'
      assign header_font_light_italic = header_font_light | font_modify: 'style', 'italic'
      assign header_font_medium_italic = header_font_medium | font_modify: 'style', 'italic'
      assign header_font_semibold_italic = header_font_semibold | font_modify: 'style', 'italic'
      assign header_font_bold_italic = header_font_bold | font_modify: 'style', 'italic'
      assign header_font_extrabold_italic = header_font_extrabold | font_modify: 'style', 'italic'
      assign header_font_black_italic = header_font_black | font_modify: 'style', 'italic'

			assign body_font_light = settings.type_body_font | font_modify: 'weight', '300'
			assign body_font_regular = settings.type_body_font | font_modify: 'weight', '400'
			assign body_font_medium = settings.type_body_font | font_modify: 'weight', '500'
			assign body_font_semibold = settings.type_body_font | font_modify: 'weight', '600'
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_extrabold = settings.type_body_font | font_modify: 'weight', '800'
      assign body_font_black = settings.type_body_font | font_modify: 'weight', '900'
      assign body_font_light_italic = body_font_light | font_modify: 'style', 'italic'
      assign body_font_regular_italic = body_font_regular | font_modify: 'style', 'italic'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_medium_italic = body_font_medium | font_modify: 'style', 'italic'
      assign body_font_semibold_italic = body_font_semibold | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      assign body_font_extrabold_italic = body_font_extrabold | font_modify: 'style', 'italic'
      assign body_font_black_italic = body_font_black | font_modify: 'style', 'italic'
    %}

    {% style %}

			{{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ header_font_light | font_face: font_display: 'swap' }}
      {{ header_font_medium | font_face: font_display: 'swap' }}
      {{ header_font_semibold | font_face: font_display: 'swap' }}
      {{ header_font_bold | font_face: font_display: 'swap' }}
      {{ header_font_extrabold | font_face: font_display: 'swap' }}
      {{ header_font_black | font_face: font_display: 'swap' }}
      {{ header_font_italic | font_face: font_display: 'swap' }}
      {{ header_font_light_italic | font_face: font_display: 'swap' }}
      {{ header_font_medium_italic | font_face: font_display: 'swap' }}
      {{ header_font_semibold_italic | font_face: font_display: 'swap' }}
      {{ header_font_bold_italic | font_face: font_display: 'swap' }}
      {{ header_font_extrabold_italic | font_face: font_display: 'swap' }}
      {{ header_font_black_italic | font_face: font_display: 'swap' }}
			
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_light | font_face: font_display: 'swap' }}
      {{ body_font_regular | font_face: font_display: 'swap' }}
      {{ body_font_medium | font_face: font_display: 'swap' }}
      {{ body_font_semibold | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_extrabold | font_face: font_display: 'swap' }}
      {{ body_font_black | font_face: font_display: 'swap' }}
      {{ body_font_light_italic | font_face: font_display: 'swap' }}
      {{ body_font_regular_italic | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_medium_italic | font_face: font_display: 'swap' }}
      {{ body_font_semibold_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ body_font_extrabold_italic | font_face: font_display: 'swap' }}
      {{ body_font_black_italic | font_face: font_display: 'swap' }}

      :root {

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

				--heading-font-weignt: {{ settings.header_header_font_weight }};
        --section-heading-font-weight: {{ settings.section_header_font_weight }};
				--font-heading-1-size: {{ settings.heading_1_size | divided_by: 10.00 }}rem;
        --font-heading-1-size-mb: {{ settings.heading_1_size_mb | divided_by: 10.00 }}rem;
        --font-heading-2-size: {{ settings.heading_2_size | divided_by: 10.00 }}rem;
        --font-heading-2-size-mb: {{ settings.heading_2_size_mb | divided_by: 10.00 }}rem;
        --font-heading-3-size: {{ settings.heading_3_size | divided_by: 10.00 }}rem;
        --font-heading-3-size-mb: {{ settings.heading_3_size_mb | divided_by: 10.00 }}rem;
        --font-heading-4-size: {{ settings.heading_4_size | divided_by: 10.00 }}rem;
        --font-heading-4-size-mb: {{ settings.heading_4_size_mb | divided_by: 10.00 }}rem;
        --font-heading-5-size: {{ settings.heading_5_size | divided_by: 10.00 }}rem;
        --font-heading-5-size-mb: {{ settings.heading_5_size_mb | divided_by: 10.00 }}rem;
        --font-heading-6-size: {{ settings.heading_6_size | divided_by: 10.00 }}rem;
        --font-heading-6-size-mb: {{ settings.heading_6_size_mb | divided_by: 10.00 }}rem;
        --font-body-size: {{ settings.body_font_size | divided_by: 10.00 }}rem;

        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

				--badge-radius: {{ settings.badges_radius | divided_by: 10.00 }}rem;
				--font-badge-size: {{ settings.badges_font_size | divided_by: 10.00 }}rem;
        --font-badge-weight: {{ settings.badges_font_weight }};
        --font-badge-family: var(--font-{{ settings.badges_font_family }}-family);

        --color-general-main-text: {{ settings.color_general_main_text.red }}, {{ settings.color_general_main_text.green }}, {{ settings.color_general_main_text.blue }};
        --color-general-secondary-text: {{ settings.color_general_secondary_text.red }}, {{ settings.color_general_secondary_text.green }}, {{ settings.color_general_secondary_text.blue }};

        --color-general-heading: {{ settings.color_general_heading.red }}, {{ settings.color_general_heading.green }}, {{ settings.color_general_heading.blue }};
        --color-general-catalog: {{ settings.color_general_catalog_text.red }}, {{ settings.color_general_catalog_text.green }}, {{ settings.color_general_catalog_text.blue }};

        --color-general-bg: {{ settings.color_general_main_bg.red }}, {{ settings.color_general_main_bg.green }}, {{ settings.color_general_main_bg.blue }};
        --gradient-general-bg: {% if settings.color_general_main_bg_gradient != blank %}{{ settings.color_general_main_bg_gradient }}{% else %}{{ settings.color_general_main_bg }}{% endif %};

        --color-general-section-bg: {{ settings.color_general_section_bg.red }}, {{ settings.color_general_section_bg.green }}, {{ settings.color_general_section_bg.blue }};
        --gradient-general-section-bg: {% if settings.color_general_section_bg_gradient != blank %}{{ settings.color_general_section_bg_gradient }}{% else %}{{ settings.color_general_section_bg }}{% endif %};

        --color-general-section-bg-2: {{ settings.color_general_section_bg_2.red }}, {{ settings.color_general_section_bg_2.green }}, {{ settings.color_general_section_bg_2.blue }};
        --gradient-general-section-bg-2: {% if settings.color_general_section_bg_2_gradient != blank %}{{ settings.color_general_section_bg_2_gradient }}{% else %}{{ settings.color_general_section_bg_2 }}{% endif %};

        --color-general-section-bg-3: {{ settings.color_general_section_bg_3.red }}, {{ settings.color_general_section_bg_3.green }}, {{ settings.color_general_section_bg_3.blue }};
        --gradient-general-section-bg-3: {% if settings.color_general_section_bg_3_gradient != blank %}{{ settings.color_general_section_bg_3_gradient }}{% else %}{{ settings.color_general_section_bg_3 }}{% endif %};

        --color-general-section-bg-4: {{ settings.color_general_section_bg_4.red }}, {{ settings.color_general_section_bg_4.green }}, {{ settings.color_general_section_bg_4.blue }};
        --gradient-general-section-bg-4: {% if settings.color_general_section_bg_4_gradient != blank %}{{ settings.color_general_section_bg_4_gradient }}{% else %}{{ settings.color_general_section_bg_4 }}{% endif %};

        --color-general-link: {{ settings.color_general_link.red }}, {{ settings.color_general_link.green }}, {{ settings.color_general_link.blue }};

        --color-prod-preview-price: {{ settings.color_product_preview_price.red }}, {{ settings.color_product_preview_price.green }}, {{ settings.color_product_preview_price.blue }};
        --border-color: {{ settings.border_color.red }}, {{ settings.border_color.green }}, {{ settings.border_color.blue }};
        --color-prod-note: {{ settings.color_product_note.red }}, {{ settings.color_product_note.green }}, {{ settings.color_product_note.blue }};

        --color-label-text: {{ settings.color_label_text.red }}, {{ settings.color_label_text.green }}, {{ settings.color_label_text.blue }};
        --color-label-bg: {{ settings.color_label_bg.red }}, {{ settings.color_label_bg.green }}, {{ settings.color_label_bg.blue }};
        --color-label-bg-gradient:  {{ settings.color_label_bg_gradient }};
				--color-label-border:  {{ settings.color_label_border }};

        --color-label-text--sale: {{ settings.color_label_sale_text.red }}, {{ settings.color_label_sale_text.green }}, {{ settings.color_label_sale_text.blue }};
        --color-label-bg--sale: {{ settings.color_label_sale_bg.red }}, {{ settings.color_label_sale_bg.green }}, {{ settings.color_label_sale_bg.blue }};
				--color-label-bg-gradient--sale:  {{ settings.color_label_sale_bg_gradient }};
				--color-label-border--sale:  {{ settings.color_label_sale_border }};
				
        --color-label-text--sold: {{ settings.color_label_sold_text.red }}, {{ settings.color_label_sold_text.green }}, {{ settings.color_label_sold_text.blue }};
        --color-label-bg--sold: {{ settings.color_label_sold_bg.red }}, {{ settings.color_label_sold_bg.green }}, {{ settings.color_label_sold_bg.blue }};
				--color-label-bg-gradient--sold:  {{ settings.color_label_sold_bg_gradient }};
				--color-label-border--sold:  {{ settings.color_label_sold_border }};
				
        --color-btn-main-text: {{ settings.color_primery_button_text.red }}, {{ settings.color_primery_button_text.green }}, {{ settings.color_primery_button_text.blue }};
        --color-btn-main-bg: {{ settings.color_primery_button_bg.red }}, {{ settings.color_primery_button_bg.green }}, {{ settings.color_primery_button_bg.blue }};
        --color-btn-main-bg-gradient: {{ settings.color_primery_button_bg_gradient }};
        --color-btn-main-border: {{ settings.color_primery_button_border.red }}, {{ settings.color_primery_button_border.green }}, {{ settings.color_primery_button_border.blue }};

        --color-btn-second-text: {{ settings.color_secondary_button_text.red }}, {{ settings.color_secondary_button_text.green }}, {{ settings.color_secondary_button_text.blue }};
        --color-btn-second-bg: {{ settings.color_secondary_button_bg.red }}, {{ settings.color_secondary_button_bg.green }}, {{ settings.color_secondary_button_bg.blue }};
        --color-btn-second-bg-gradient: {{ settings.color_secondary_button_bg_gradient }};
        --color-btn-second-border: {{ settings.color_secondary_button_border.red }}, {{ settings.color_secondary_button_border.green }}, {{ settings.color_secondary_button_border.blue }};

        --color-icon-social: {{ settings.color_icons_social.red }}, {{ settings.color_icons_social.green }}, {{ settings.color_icons_social.blue }};

        --color-hover-link: {{ settings.color_events_link_hover.red }}, {{ settings.color_events_link_hover.green }}, {{ settings.color_events_link_hover.blue }};
        --color-hover-btn-text: {{ settings.color_events_button_text_hover.red }}, {{ settings.color_events_button_text_hover.green }}, {{ settings.color_events_button_text_hover.blue }};
        --color-hover-btn-bg: {{ settings.color_events_button_bg_hover.red }}, {{ settings.color_events_button_bg_hover.green }}, {{ settings.color_events_button_bg_hover.blue }};
        --color-hover-btn-bg-gradient: {{ settings.color_events_button_bg_hover_gradient }};
        --color-hover-btn-border: {{ settings.color_events_border_hover.red }}, {{ settings.color_events_border_hover.green }}, {{ settings.color_events_border_hover.blue }};

				--color-hover-btn-second-text: {{ settings.color_events_secondary_button_text_hover | color_extract: 'red' }}, {{ settings.color_events_secondary_button_text_hover | color_extract: 'green' }}, {{ settings.color_events_secondary_button_text_hover | color_extract: 'blue' }};
        --color-hover-btn-second-bg: {{ settings.color_events_secondary_button_bg_hover | color_extract: 'red' }}, {{ settings.color_events_secondary_button_bg_hover | color_extract: 'green' }}, {{ settings.color_events_secondary_button_bg_hover | color_extract: 'blue' }};
        --color-hover-btn-second-bg-gradient: {{ settings.color_events_secondary_button_bg_hover_gradient }};
        --color-hover-btn-second-border: {{ settings.color_events_secondary_border_hover | color_extract: 'red' }}, {{ settings.color_events_secondary_border_hover | color_extract: 'green' }}, {{ settings.color_events_secondary_border_hover | color_extract: 'blue' }};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --color-border-page: {{ settings.color_page_border | color_extract: 'red' }}, {{ settings.color_page_border | color_extract: 'green' }}, {{ settings.color_page_border | color_extract: 'blue' }};
				--color-overlay: {{ settings.color_overlay | color_extract: 'red' }}, {{ settings.color_overlay | color_extract: 'green' }}, {{ settings.color_overlay | color_extract: 'blue' }};

				
				--buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-border-size: {{ settings.buttons_border_thickness }}px;
				--buttons-font-family: var(--font-{{ settings.buttons_font_family }}-family);
        --buttons-font-size: {{ settings.buttons_font_size | divided_by: 10.00 }}rem;
        --buttons-underline-font-size: {{ settings.buttons_underline_font_size | divided_by: 10.00 }}rem;
        --buttons-font-width: {{ settings.button_font_width }};
        --links-font-width: {{ settings.link_font_width }};
        --buttons-text-transform: {{ settings.button_text_transform }};
				--links-text-transform: {{ settings.link_text_transform }};
      }
        @media screen and (min-width: 750px) {
         body{
            border: {{ settings.border_body }}rem solid;
            border-color: rgb(var(--color-border-page));
            border-top: 0;
            }
         }
    {% endstyle %}


    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_header_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}
    
    {%- unless settings.type_body_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    
    <footer>
      {% section 'main-password-footer' %}
    </footer>
  </body>
</html>
