<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    
    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    
    {{ content_for_header }}

    {%- liquid
			assign header_font_light = settings.type_header_font | font_modify: 'weight', '300'
      assign header_font_medium = settings.type_header_font | font_modify: 'weight', '500'
      assign header_font_semibold = settings.type_header_font | font_modify: 'weight', '600'
      assign header_font_bold = settings.type_header_font | font_modify: 'weight', 'bold'
      assign header_font_extrabold = settings.type_header_font | font_modify: 'weight', '800'
      assign header_font_black = settings.type_header_font | font_modify: 'weight', '900'
      assign header_font_italic = settings.type_header_font | font_modify: 'style', 'italic'
      assign header_font_light_italic = header_font_light | font_modify: 'style', 'italic'
      assign header_font_medium_italic = header_font_medium | font_modify: 'style', 'italic'
      assign header_font_semibold_italic = header_font_semibold | font_modify: 'style', 'italic'
      assign header_font_bold_italic = header_font_bold | font_modify: 'style', 'italic'
      assign header_font_extrabold_italic = header_font_extrabold | font_modify: 'style', 'italic'
      assign header_font_black_italic = header_font_black | font_modify: 'style', 'italic'

			assign body_font_light = settings.type_body_font | font_modify: 'weight', '300'
			assign body_font_regular = settings.type_body_font | font_modify: 'weight', '400'
			assign body_font_medium = settings.type_body_font | font_modify: 'weight', '500'
			assign body_font_semibold = settings.type_body_font | font_modify: 'weight', '600'
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_extrabold = settings.type_body_font | font_modify: 'weight', '800'
      assign body_font_black = settings.type_body_font | font_modify: 'weight', '900'
      assign body_font_light_italic = body_font_light | font_modify: 'style', 'italic'
      assign body_font_regular_italic = body_font_regular | font_modify: 'style', 'italic'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_medium_italic = body_font_medium | font_modify: 'style', 'italic'
      assign body_font_semibold_italic = body_font_semibold | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      assign body_font_extrabold_italic = body_font_extrabold | font_modify: 'style', 'italic'
      assign body_font_black_italic = body_font_black | font_modify: 'style', 'italic'
    %}

    {% style %}

			{{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ header_font_light | font_face: font_display: 'swap' }}
      {{ header_font_medium | font_face: font_display: 'swap' }}
      {{ header_font_semibold | font_face: font_display: 'swap' }}
      {{ header_font_bold | font_face: font_display: 'swap' }}
      {{ header_font_extrabold | font_face: font_display: 'swap' }}
      {{ header_font_black | font_face: font_display: 'swap' }}
      {{ header_font_italic | font_face: font_display: 'swap' }}
      {{ header_font_light_italic | font_face: font_display: 'swap' }}
      {{ header_font_medium_italic | font_face: font_display: 'swap' }}
      {{ header_font_semibold_italic | font_face: font_display: 'swap' }}
      {{ header_font_bold_italic | font_face: font_display: 'swap' }}
      {{ header_font_extrabold_italic | font_face: font_display: 'swap' }}
      {{ header_font_black_italic | font_face: font_display: 'swap' }}
			
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_light | font_face: font_display: 'swap' }}
      {{ body_font_regular | font_face: font_display: 'swap' }}
      {{ body_font_medium | font_face: font_display: 'swap' }}
      {{ body_font_semibold | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_extrabold | font_face: font_display: 'swap' }}
      {{ body_font_black | font_face: font_display: 'swap' }}
      {{ body_font_light_italic | font_face: font_display: 'swap' }}
      {{ body_font_regular_italic | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_medium_italic | font_face: font_display: 'swap' }}
      {{ body_font_semibold_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ body_font_extrabold_italic | font_face: font_display: 'swap' }}
      {{ body_font_black_italic | font_face: font_display: 'swap' }}

      :root {

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

				--heading-font-weignt: {{ settings.header_header_font_weight }};
        --section-heading-font-weight: {{ settings.section_header_font_weight }};
				--font-heading-1-size: {{ settings.heading_1_size | divided_by: 10.00 }}rem;
        --font-heading-1-size-mb: {{ settings.heading_1_size_mb | divided_by: 10.00 }}rem;
        --font-heading-2-size: {{ settings.heading_2_size | divided_by: 10.00 }}rem;
        --font-heading-2-size-mb: {{ settings.heading_2_size_mb | divided_by: 10.00 }}rem;
        --font-heading-3-size: {{ settings.heading_3_size | divided_by: 10.00 }}rem;
        --font-heading-3-size-mb: {{ settings.heading_3_size_mb | divided_by: 10.00 }}rem;
        --font-heading-4-size: {{ settings.heading_4_size | divided_by: 10.00 }}rem;
        --font-heading-4-size-mb: {{ settings.heading_4_size_mb | divided_by: 10.00 }}rem;
        --font-heading-5-size: {{ settings.heading_5_size | divided_by: 10.00 }}rem;
        --font-heading-5-size-mb: {{ settings.heading_5_size_mb | divided_by: 10.00 }}rem;
        --font-heading-6-size: {{ settings.heading_6_size | divided_by: 10.00 }}rem;
        --font-heading-6-size-mb: {{ settings.heading_6_size_mb | divided_by: 10.00 }}rem;
        --font-body-size: {{ settings.body_font_size | divided_by: 10.00 }}rem;

        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

				--badge-radius: {{ settings.badges_radius | divided_by: 10.00 }}rem;
				--font-badge-size: {{ settings.badges_font_size | divided_by: 10.00 }}rem;
        --font-badge-weight: {{ settings.badges_font_weight }};
        --font-badge-family: var(--font-{{ settings.badges_font_family }}-family);

        --color-general-main-text: {{ settings.color_general_main_text | color_extract: 'red' }}, {{ settings.color_general_main_text | color_extract: 'green' }}, {{ settings.color_general_main_text | color_extract: 'blue' }};
        --color-general-secondary-text: {{ settings.color_general_secondary_text | color_extract: 'red' }}, {{ settings.color_general_secondary_text | color_extract: 'green' }}, {{ settings.color_general_secondary_text | color_extract: 'blue' }};
        
        --color-general-heading: {{ settings.color_general_heading | color_extract: 'red' }}, {{ settings.color_general_heading | color_extract: 'green' }}, {{ settings.color_general_heading | color_extract: 'blue' }};
        --color-general-catalog: {{ settings.color_general_catalog_text | color_extract: 'red' }}, {{ settings.color_general_catalog_text | color_extract: 'green' }}, {{ settings.color_general_catalog_text | color_extract: 'blue' }};
        
        --color-general-bg: {{ settings.color_general_main_bg | color_extract: 'red' }}, {{ settings.color_general_main_bg | color_extract: 'green' }}, {{ settings.color_general_main_bg | color_extract: 'blue' }};        
        --gradient-general-bg: {% if settings.color_general_main_bg_gradient != blank %}{{ settings.color_general_main_bg_gradient }}{% else %}{{ settings.color_general_main_bg }}{% endif %};
        
        --color-general-section-bg: {{ settings.color_general_section_bg | color_extract: 'red' }}, {{ settings.color_general_section_bg | color_extract: 'green' }}, {{ settings.color_general_section_bg | color_extract: 'blue' }};
        --gradient-general-section-bg: {% if settings.color_general_section_bg_gradient != blank %}{{ settings.color_general_section_bg_gradient }}{% else %}{{ settings.color_general_section_bg }}{% endif %};
        
        --color-general-section-bg-2: {{ settings.color_general_section_bg_2 | color_extract: 'red' }}, {{ settings.color_general_section_bg_2 | color_extract: 'green' }}, {{ settings.color_general_section_bg_2 | color_extract: 'blue' }};
        --gradient-general-section-bg-2: {% if settings.color_general_section_bg_2_gradient != blank %}{{ settings.color_general_section_bg_2_gradient }}{% else %}{{ settings.color_general_section_bg_2 }}{% endif %};
        
        --color-general-section-bg-3: {{ settings.color_general_section_bg_3 | color_extract: 'red' }}, {{ settings.color_general_section_bg_3 | color_extract: 'green' }}, {{ settings.color_general_section_bg_3 | color_extract: 'blue' }};
        --gradient-general-section-bg-3: {% if settings.color_general_section_bg_3_gradient != blank %}{{ settings.color_general_section_bg_3_gradient }}{% else %}{{ settings.color_general_section_bg_3 }}{% endif %};
        
        --color-general-section-bg-4: {{ settings.color_general_section_bg_4 | color_extract: 'red' }}, {{ settings.color_general_section_bg_4 | color_extract: 'green' }}, {{ settings.color_general_section_bg_4 | color_extract: 'blue' }};
        --gradient-general-section-bg-4: {% if settings.color_general_section_bg_4_gradient != blank %}{{ settings.color_general_section_bg_4_gradient }}{% else %}{{ settings.color_general_section_bg_4 }}{% endif %};
        
        --color-general-link: {{ settings.color_general_link | color_extract: 'red' }}, {{ settings.color_general_link | color_extract: 'green' }}, {{ settings.color_general_link | color_extract: 'blue' }};

        --color-border-page: {{ settings.color_page_border | color_extract: 'red' }}, {{ settings.color_page_border | color_extract: 'green' }}, {{ settings.color_page_border | color_extract: 'blue' }};
        --color-overlay: {{ settings.color_overlay | color_extract: 'red' }}, {{ settings.color_overlay | color_extract: 'green' }}, {{ settings.color_overlay | color_extract: 'blue' }};

        --color-prod-preview-price: {{ settings.color_product_preview_price | color_extract: 'red' }}, {{ settings.color_product_preview_price | color_extract: 'green' }}, {{ settings.color_product_preview_price | color_extract: 'blue' }};
        --border-color: {{ settings.border_color.red }}, {{ settings.border_color.green }}, {{ settings.border_color.blue }};
        --color-prod-note: {{ settings.color_product_note | color_extract: 'red' }}, {{ settings.color_product_note | color_extract: 'green' }}, {{ settings.color_product_note | color_extract: 'blue' }};

        --color-label-text: {{ settings.color_label_text | color_extract: 'red' }}, {{ settings.color_label_text | color_extract: 'green' }}, {{ settings.color_label_text | color_extract: 'blue' }};
        --color-label-bg: {{ settings.color_label_bg | color_extract: 'red' }}, {{ settings.color_label_bg | color_extract: 'green' }}, {{ settings.color_label_bg | color_extract: 'blue' }};
        --color-label-bg-gradient:  {{ settings.color_label_bg_gradient }};
				--color-label-border:  {{ settings.color_label_border }};

        --color-label-text--sale: {{ settings.color_label_sale_text | color_extract: 'red' }}, {{ settings.color_label_sale_text | color_extract: 'green' }}, {{ settings.color_label_sale_text | color_extract: 'blue' }};
        --color-label-bg--sale: {{ settings.color_label_sale_bg | color_extract: 'red' }}, {{ settings.color_label_sale_bg | color_extract: 'green' }}, {{ settings.color_label_sale_bg | color_extract: 'blue' }};
				--color-label-bg-gradient--sale:  {{ settings.color_label_sale_bg_gradient }};
				--color-label-border--sale:  {{ settings.color_label_sale_border }};

        --color-label-text--sold: {{ settings.color_label_sold_text | color_extract: 'red' }}, {{ settings.color_label_sold_text | color_extract: 'green' }}, {{ settings.color_label_sold_text | color_extract: 'blue' }};
        --color-label-bg--sold: {{ settings.color_label_sold_bg | color_extract: 'red' }}, {{ settings.color_label_sold_bg | color_extract: 'green' }}, {{ settings.color_label_sold_bg | color_extract: 'blue' }};
				--color-label-bg-gradient--sold:  {{ settings.color_label_sold_bg_gradient }};
				--color-label-border--sold:  {{ settings.color_label_sold_border }};

        --color-btn-main-text: {{ settings.color_primery_button_text | color_extract: 'red' }}, {{ settings.color_primery_button_text | color_extract: 'green' }}, {{ settings.color_primery_button_text | color_extract: 'blue' }};
        --color-btn-main-bg: {{ settings.color_primery_button_bg | color_extract: 'red' }}, {{ settings.color_primery_button_bg | color_extract: 'green' }}, {{ settings.color_primery_button_bg | color_extract: 'blue' }};
        --color-btn-main-bg-gradient: {{ settings.color_primery_button_bg_gradient }};
				--color-btn-main-border: {{ settings.color_primery_button_border | color_extract: 'red' }}, {{ settings.color_primery_button_border | color_extract: 'green' }}, {{ settings.color_primery_button_border | color_extract: 'blue' }};

        --color-btn-second-text: {{ settings.color_secondary_button_text | color_extract: 'red' }}, {{ settings.color_secondary_button_text | color_extract: 'green' }}, {{ settings.color_secondary_button_text | color_extract: 'blue' }};
        --color-btn-second-bg: {{ settings.color_secondary_button_bg | color_extract: 'red' }}, {{ settings.color_secondary_button_bg | color_extract: 'green' }}, {{ settings.color_secondary_button_bg | color_extract: 'blue' }};
        --color-btn-second-bg-gradient: {{ settings.color_secondary_button_bg_gradient }};
				--color-btn-second-border: {{ settings.color_secondary_button_border | color_extract: 'red' }}, {{ settings.color_secondary_button_border | color_extract: 'green' }}, {{ settings.color_secondary_button_border | color_extract: 'blue' }};
        
        --color-icon-social: {{ settings.color_icons_social | color_extract: 'red' }}, {{ settings.color_icons_social | color_extract: 'green' }}, {{ settings.color_icons_social | color_extract: 'blue' }};

        --color-hover-link: {{ settings.color_events_link_hover | color_extract: 'red' }}, {{ settings.color_events_link_hover | color_extract: 'green' }}, {{ settings.color_events_link_hover | color_extract: 'blue' }};
        --color-hover-link-secondary: {{ settings.color_events_link_hover_secondary | color_extract: 'red' }}, {{ settings.color_events_link_hover_secondary | color_extract: 'green' }}, {{ settings.color_events_link_hover_secondary | color_extract: 'blue' }};

        --color-hover-btn-text: {{ settings.color_events_button_text_hover | color_extract: 'red' }}, {{ settings.color_events_button_text_hover | color_extract: 'green' }}, {{ settings.color_events_button_text_hover | color_extract: 'blue' }};
        --color-hover-btn-bg: {{ settings.color_events_button_bg_hover | color_extract: 'red' }}, {{ settings.color_events_button_bg_hover | color_extract: 'green' }}, {{ settings.color_events_button_bg_hover | color_extract: 'blue' }};
        --color-hover-btn-bg-gradient: {{ settings.color_events_button_bg_hover_gradient }};
        --color-hover-btn-border: {{ settings.color_events_border_hover | color_extract: 'red' }}, {{ settings.color_events_border_hover | color_extract: 'green' }}, {{ settings.color_events_border_hover | color_extract: 'blue' }};

				--color-hover-btn-second-text: {{ settings.color_events_secondary_button_text_hover | color_extract: 'red' }}, {{ settings.color_events_secondary_button_text_hover | color_extract: 'green' }}, {{ settings.color_events_secondary_button_text_hover | color_extract: 'blue' }};
        --color-hover-btn-second-bg: {{ settings.color_events_secondary_button_bg_hover | color_extract: 'red' }}, {{ settings.color_events_secondary_button_bg_hover | color_extract: 'green' }}, {{ settings.color_events_secondary_button_bg_hover | color_extract: 'blue' }};
        --color-hover-btn-second-bg-gradient: {{ settings.color_events_secondary_button_bg_hover_gradient }};
        --color-hover-btn-second-border: {{ settings.color_events_secondary_border_hover | color_extract: 'red' }}, {{ settings.color_events_secondary_border_hover | color_extract: 'green' }}, {{ settings.color_events_secondary_border_hover | color_extract: 'blue' }};
				
				--page-width: {{ settings.page_width | divided_by: 10 }}rem;

        --buttons-font-family: var(--font-{{ settings.buttons_font_family }}-family);
        --buttons-font-size: {{ settings.buttons_font_size | divided_by: 10.00 }}rem;
        --buttons-underline-font-size: {{ settings.buttons_underline_font_size | divided_by: 10.00 }}rem;
        --buttons-font-width: {{ settings.button_font_width }};
				--links-font-width: {{ settings.link_font_width }};
        --buttons-text-transform: {{ settings.button_text_transform }};
				--links-text-transform: {{ settings.link_text_transform }};
        --buttons-radius: {{ settings.buttons_radius }}px;
        --budges-radius: {{ settings.budges_radius }}px;
        --buttons-border-size: {{ settings.buttons_border_thickness }}px;

        --body-border-size: {{ settings.border_body }}rem;

				--p-media-radius: {{ settings.product_media_radius | divided_by: 10 }}rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: repeat(2, auto) 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.6rem;
        font-size: var(--font-body-size);
        line-height: 1.6;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
				/* align-items: center; */
      }


      @media screen and (min-width: 750px) {
        body {
            border: {{ settings.border_body }}rem solid;
            border-color: rgb(var(--color-border-page));
            border-top: 0;
        }
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_header_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    {%- unless settings.type_body_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}
    
    {% if settings.theme_animations != 'no-animation' %}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" href="{{ 'scroll-animation.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
      <noscript>
        {{ 'scroll-animation.css' | asset_url | stylesheet_tag }}
        {{ 'scroll-animation-disabled-js.css' | asset_url | stylesheet_tag }}
      </noscript>
    {%- endif -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {% comment %}theme-check-disable AssetPreload{% endcomment %}
    <link rel="preload" href="{{ 'swiper-bundle.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    {{ 'component-swiper.css' | asset_url | stylesheet_tag }}
    {% comment %}theme-check-enable AssetPreload{% endcomment %}
    
    <noscript>
      {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    </noscript>
		<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>

		{%- if settings.modal_layout == 'default' -%}
			<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
			{{ 'quick-add.css' | asset_url | stylesheet_tag }}
		{%- endif -%}
  </head>

  <body class="{{ settings.theme_animations }}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% liquid 
      if template != 'cart' and settings.cart_type == "drawer"
        render 'cart-notification'
      endif
      if settings.theme_preloader_pages == 'show_on_all_pages'
        render 'preloader'
      elsif settings.theme_preloader_pages == 'show_on_homepage' and template == 'index'
        render 'preloader'
      endif
      if settings.show_swatches == true
        render 'color-swatches'
      endif
    %}

		{% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`
      }

      window.quickOrderListStrings = {
        itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
        itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
        itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
        itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
        viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
        each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
        recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
        recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    
    {% if settings.modal_layout == 'custom' %}
      {% render 'product-modal' %}
    {%- endif -%}

    {% if settings.theme_animations != 'no-animation' %}
      <script src="{{ 'theme-animations.js' | asset_url }}" defer="defer"></script>
    {% endif %}
  </body>
</html>