<link rel="stylesheet" href="{{ 'section-faq.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript><style>#shopify-section-{{ section.id }} .item-text {display: block;}</style></noscript>


{%- style -%}
  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 18.7 }}rem;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 18.7 }}rem;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1199px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 15.0 }}rem;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 15.0 }}rem;
    }
  }
  @media screen and (min-width: 1200px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 10.0 }}rem;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 10.0 }}rem;
    }
  }

  {% if section.settings.color_bg != blank %}
    #shopify-section-{{ section.id }} {
      background-color: {{ section.settings.color_bg }};
    }
  {% endif %}

  {% if section.settings.content_width == "small" %}
    .section-faq .page-width {
      max-width: 102rem;
    }
  {% endif %}

  #shopify-section-{{ section.id }} .faq-item .icon.color-text-secondary,
  #shopify-section-{{ section.id }} .faq-item .icon-close.color-text-secondary {
    background-color: rgb(var(--color-general-secondary-text));
  }

  #shopify-section-{{ section.id }} .faq-item .icon.color-text-main,
  #shopify-section-{{ section.id }} .faq-item .icon-close.color-text-main {
    background-color: rgb(var(--color-general-main-text));
  }

  #shopify-section-{{ section.id }} .faq-item .icon.color-general-heading,
  #shopify-section-{{ section.id }} .faq-item .icon-close.color-general-heading {
    background-color: rgb(var(--color-general-heading));
  }

{%- endstyle -%}

<div class="page-width"> 
  <div class="faq-wrapp {{ section.settings.faq_style }}{% if settings.theme_animations != 'no-animation' %} items-animation scroll-animation{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="section-title {{ section.settings.heading_font_family }} {{ section.settings.heading_align }} {{ section.settings.heading_color }}{% if settings.theme_animations != 'no-animation' %} item-animation{% endif %}" {{ block.shopify_attributes }}>
            {{ block.settings.section_title }}
          </h2>

        {%- when 'item' -%}
          <div class="faq-item {% if section.settings.show_all_items %} active{% endif %}{% if settings.theme_animations != 'no-animation' %} item-animation{% endif %}" {{ block.shopify_attributes }}>
            <h3 class="item-heading {{ section.settings.item_heading_size }} {{ section.settings.item_heading_color }} {{ section.settings.item_heading_font_family }}">
              {{ block.settings.item_heading }}
              <span class="icon {{ section.settings.item_heading_color }}"></span>
              <span class="icon-close {{ section.settings.item_heading_color }}"></span>
            </h3>
            <div class="item-text text rte {{ section.settings.text_color }}">
              {{ block.settings.text }}
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

<script src="{{ 'faq.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "spaced-section section-faq",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "content_width",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ],
      "default": "",
      "label": "Content width"
    },
    {
      "type": "select",
      "id": "faq_style",
      "options": [
        {
          "value": "style-1",
          "label": "Large typography"
        },
        {
          "value": "style-3",
          "label": "Medium typography"
        },
        {
          "value": "style-2",
          "label": "Small typography"
        }
      ],
      "default": "style-1",
      "label": "Section style"
    },
    {
      "type": "select",
      "id": "heading_align",
      "options": [
        {
          "value": "",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "",
      "label": "Align heading"
    },
    {
      "type": "select",
      "id": "heading_color",
      "options": [
        {
          "value": "color-text-main",
          "label": "Main"
        },
        {
          "value": "color-text-secondary",
          "label": "Secondary"
        },
        {
          "value": "color-general-heading",
          "label": "Heading"
        }
      ],
      "default": "color-general-heading",
      "label": "Section heading color"
    },
    {
      "type": "select",
      "id": "heading_font_family",
      "options": [
        {
          "value": "hf-heading",
          "label": "Heading font"
        },
        {
          "value": "hf-body",
          "label": "Body font"
        }
      ],
      "default": "hf-heading",
      "label": "Heading font family"
    },
    {
      "type": "select",
      "id": "item_heading_font_family",
      "options": [
        {
          "value": "hf-heading",
          "label": "Heading font"
        },
        {
          "value": "hf-body",
          "label": "Body font"
        }
      ],
      "default": "hf-body",
      "label": "Item heading font family"
    },
    {
      "type": "select",
      "id": "item_heading_size",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "",
          "label": "Medium"
        }
      ],
      "default": "",
      "label": "Item heading font size"
    },
    {
      "type": "select",
      "id": "item_heading_color",
      "options": [
        {
          "value": "color-text-main",
          "label": "Main"
        },
        {
          "value": "color-text-secondary",
          "label": "Secondary"
        },
        {
          "value": "color-general-heading",
          "label": "Heading"
        }
      ],
      "default": "color-text-main",
      "label": "Item heading color"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "color-text-main",
          "label": "Main"
        },
        {
          "value": "color-text-secondary",
          "label": "Secondary"
        },
        {
          "value": "color-general-heading",
          "label": "Heading"
        }
      ],
      "default": "color-text-main",
      "label": "Item text color"
    },
    {
      "type": "checkbox",
      "id": "show_all_items",
      "default": false,
      "label": "Show all items content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 140
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 140
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Section heading",
      "limit": 12,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "section_title",
          "default": "Section heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "item",
      "name": "FAQ item",
      "limit": 12,
      "settings": [
        {
          "type": "text",
          "id": "item_heading",
          "default": "Item heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}