{%- style -%}
  body.password,
  body.password .modal__content {
    background: rgb(var({{ section.settings.color_bg }}));
  }
  
  .newsletter-password__form-wrp input:hover,
  .newsletter-password__form-wrp input:focus,
  .newsletter-password__form-wrp input:not(:placeholder-shown),
  .newsletter-password__form-wrp input:-webkit-autofill {
    padding: 1.4rem 0 1rem;
    height: auto;
		line-height: 1;
    -webkit-box-shadow: 0 0 0px 1000px rgb(var({{ section.settings.color_bg }})) inset;
  }
  {% if section.settings.color_text == "--color-general-secondary-text" %}
    body.password *:not(.button) {
      color: rgb(var({{ section.settings.color_text }}));
    }

    body .newsletter-password__form-wrp {
      border: 1px solid rgba(var({{ section.settings.color_text }}), .25);
    }

    body .newsletter-password__form-wrp input {
      border-bottom: 1px solid rgba(var({{ section.settings.color_text }}), .25);
    }

  {% endif %}
{%- endstyle -%}

{%- if section.settings.bg -%}
  <div class="password__bg password__bg-main">
    {%- if section.settings.bg -%}
      <img src="{{ section.settings.bg | image_url: width: 500, height: 500 }}"
        alt="{{ section.settings.bg.alt | default: shop.name | escape }}"
        width="{{ section.settings.bg.width }}"
        height="{{ section.settings.bg.height | divided_by: section.settings.bg.aspect_ratio }}"
        loading="lazy">
    {%- endif -%}
  </div>
  {%- if section.settings.mirror_bg -%}
    <div class="password__bg password__bg-mirror">
      {%- if section.settings.bg -%}
        <img src="{{ section.settings.bg | image_url: width: 500, height: 500 }}"
          alt="{{ section.settings.bg.alt | default: shop.name | escape }}"
          width="{{ section.settings.bg.width }}"
          height="{{ section.settings.bg.height | divided_by: section.settings.bg.aspect_ratio }}"
          loading="lazy">
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endif -%}

<h1 class="hidden">{{ shop.name }}</h1>
<div class="page-width password-header">
  {%- if section.settings.logo -%}
    <span class="password-logo align-{{ section.settings.logo_position }}">
      <img src="{{ section.settings.logo | image_url: width: 500, height: 500 }}"
        class="password-logo"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        style="max-width: {{ section.settings.logo_max_width }}px"
        width="{{ section.settings.logo_max_width }}"
        height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}"
        loading="lazy">
    </span>
  {%- else -%}
    <h2 class="h2 password-logo align-{{ section.settings.logo_position }}">{{ shop.name }}</h2>
  {%- endif -%}

  {%- if shop.password_message != blank -%}
    <div class="password-content">
      {{ shop.password_message }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_bg",
      "options": [
        {
          "value": "--color-general-bg",
          "label": "t:sections.main-password-header.settings.color_bg.options__0.label"
        },
        {
          "value": "--color-general-section-bg",
          "label": "t:sections.main-password-header.settings.color_bg.options__1.label"
        },
        {
          "value": "--color-general-section-bg-2",
          "label": "t:sections.main-password-header.settings.color_bg.options__2.label"
        },
        {
          "value": "--color-general-section-bg-3",
          "label": "t:sections.main-password-header.settings.color_bg.options__3.label"
        },
        {
          "value": "--color-general-section-bg-4",
          "label": "t:sections.main-password-header.settings.color_bg.options__4.label"
        }
      ],
      "default": "--color-general-section-bg-4",
      "label": "t:sections.main-password-header.settings.color_bg.label"
    },
    {
      "type": "select",
      "id": "color_text",
      "options": [
        {
          "value": "--color-general-main-text",
          "label": "t:sections.main-password-header.settings.color_text.options__0.label"
        },
        {
          "value": "--color-general-secondary-text",
          "label": "t:sections.main-password-header.settings.color_text.options__1.label"
        }
      ],
      "default": "--color-general-main-text",
      "label": "t:sections.main-password-header.settings.color_text.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 160,
      "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-password-header.settings.logo_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-password-header.settings.logo_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-password-header.settings.logo_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.main-password-header.settings.logo_position.label"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "t:sections.main-password-header.settings.bg.label",
      "info": "t:sections.main-password-header.settings.bg.info"
    },
    {
      "type": "checkbox",
      "id": "mirror_bg",
      "default": true,
      "label": "t:sections.main-password-header.settings.mirror_bg.label",
      "info": "t:sections.main-password-header.settings.mirror_bg.info"
    }
  ]
}
{% endschema %}
