{{ 'component-newsletter-password.css' | asset_url | stylesheet_tag }}
<style>
  {% if settings.placeholder_color != blank and settings.form_style_enabled == true %}
    #shopify-section-{{ section.id }} .field__label {
			color: {{ settings.placeholder_color }};
    }
  {% endif %}
</style>

<div class="newsletter-password {{ section.settings.content_align }}{% if section.settings.full_width %} page-fullwidth-space{% else %} newsletter--narrow page-width{% endif %}">
  <div class="newsletter__wrapper">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}

        {%- when 'heading' -%}
          <h2 class="h1 newsletter-password__heading" {{ block.shopify_attributes }}>
            {{ block.settings.heading | escape }}
          </h2>

        {%- when 'paragraph' -%}
          <div class="newsletter-password__subheading rte" {{ block.shopify_attributes }}>
            {{ block.settings.text }}
          </div>

        {%- when 'email_form' -%}
          <div class="newsletter-password__form-wrp" {{ block.shopify_attributes }}>
            {% if block.settings.top_text %}
              <span class="newsletter-password__top-text">{{ block.settings.top_text }}</span>
            {% endif %}

            {% form 'customer', class: 'newsletter-password-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-password-form__field-wrapper">
                <div class="field field-email">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{% if block.settings.email_text %}{{ block.settings.email_text }}{% else %}{{ 'newsletter.label' | t }}{% endif %}"
                    required
                  >
                  <label class="field__label {% if settings.form_style_enabled == true %}{{settings.placeholder_style}} {{settings.placeholder_weight}} {% endif %}}" for="NewsletterForm--{{ section.id }}">
                    {% if block.settings.email_text %}{{ block.settings.email_text }}{% else %}{{ 'newsletter.label' | t }}{% endif %}
                  </label>
									{%- if form.errors -%}
										<small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
									{%- endif -%}
                </div>
                <div class="field">
                  <button type="submit" class="button{% if block.settings.button_style == 'btn_secondary' %} {% if block.settings.button_style == 'btn_primary' and settings.color_primery_button_bg_gradient != blank %} gradient gradient--primary{% endif %} {% if block.settings.button_style == 'btn_secondary' and settings.color_secondary_button_bg_gradient != blank %} gradient gradient--secondary {% endif %} button-secondary{% endif %} newsletter-password-form__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}" >
                    {% if block.settings.submit_text %}{{ block.settings.submit_text }}{% else %}{% render 'icon-arrow' %}{% endif %}
                  </button>
                </div>

              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}

            {% if block.settings.show_pass_btn %}
              <div class="field field-enter-store">
                <password-modal>
                  <details class="password-modal modal">
                    <summary class="modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.password_page.modal' | t }}">
                      <div class="button{% if block.settings.button_style_pass == 'btn_secondary' %} button-secondary{% endif %} {% if block.settings.button_style_pass == 'btn_primary' and settings.color_primery_button_bg_gradient != blank %} gradient gradient--primary{% endif %} {% if block.settings.button_style_pass == 'btn_secondary' and settings.color_secondary_button_bg_gradient != blank %} gradient gradient--secondary {% endif %} modal__toggle-open password-link">
                        {% if block.settings.show_pass_btn_icon %}
                          {% render 'icon-padlock' %}
                        {% endif %}
                        {% if block.settings.pass_btn_text %}{{ block.settings.pass_btn_text }}{% else %}{{ 'general.password_page.login_password_button' | t }}{% endif %}
                      </div>
                      <div class="modal__toggle-close" aria-hidden="true">
                        {% render 'icon-close' %}
                      </div>
                    </summary>
                    <div class="modal__content"
                      role="dialog"
                      aria-labelledby="DialogHeading"
                      aria-modal="true">
                      <div class="password-modal__content" tabindex="-1">
                        <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
                          {% render 'icon-close' %}
                        </button>
                        <h2 class="password-modal__content-heading" id="DialogHeading">
                          {{ 'general.password_page.login_form_heading' | t }}
                        </h2>
                        {%- form 'storefront_password', class: 'password-form' -%}
                          <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                            <input
                              type="password"
                              name="password"
                              id="Password"
                              class="field__input"
                              autocomplete="current-password"
                              {% if form.errors %}
                                aria-invalid="true"
                                aria-describedby="PasswordLoginForm-password-error"
                              {%- endif -%}
                              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                            <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                            {%- if form.errors -%}
                              <div id="PasswordLoginForm-password-error" role="status">
                                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                              </div>
                            {%- endif -%}
                          </div>
                          <button name="commit" class="password-button button{% if block.settings.button_style_login == 'btn_secondary' %} button-secondary{% endif %} {% if block.settings.button_style_login == 'btn_primary' and settings.color_primery_button_bg_gradient != blank %} gradient gradient--primary{% endif %} {% if block.settings.button_style_login == 'btn_secondary' and settings.color_secondary_button_bg_gradient != blank %} gradient gradient--secondary {% endif %}">
                            {{ 'general.password_page.login_form_submit' | t }}
                          </button>
                        {%- endform -%}
                        <small class="password__footer-text">
                          {{ 'general.password_page.admin_link_html' | t }}
                        </small>
                      </div>
                    </div>
                  </details>
                </password-modal>
              </div>
            {% endif %}

            {% if block.settings.show_social %}
              <ul class="list-social list-unstyled align-{{ section.settings.content_align }}" role="list">
                {%- if settings.social_linkedin_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_linkedin_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-linkedin' -%}
                      <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-facebook' -%}
                      <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_twitter_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-twitter' -%}
                      <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_pinterest_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-pinterest' -%}
                      <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-instagram' -%}
                      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tiktok_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-tiktok' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tumblr_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-tumblr' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-snapchat' -%}
                      <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-youtube' -%}
                      <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_vimeo_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message" target="_blank">
                      {%- render 'icon-vimeo' -%}
                      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            {% endif %}

            {% if block.settings.small_text %}
              <span class="newsletter-password__small-text">{{ block.settings.small_text }}</span>
            {% endif %}
          </div>
          
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter-password.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "content_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.newsletter-password.settings.content_align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.newsletter-password.settings.content_align.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.newsletter-password.settings.content_align.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.newsletter-password.settings.content_align.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.newsletter-password.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter-password.settings.paragraph.content"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter-password.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Opening Soon",
          "label": "t:sections.newsletter-password.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter-password.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know when we launch.</p>",
          "label": "t:sections.newsletter-password.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter-password.blocks.email_form.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "top_text",
          "label": "t:sections.newsletter-password.blocks.email_form.settings.top_text.label",
          "default": "Set up an email alert for the launch!"
        },
        {
          "type": "text",
          "id": "email_text",
          "label": "t:sections.newsletter-password.blocks.email_form.settings.email_text.label",
          "default": "Enter your email address"
        },
        {
          "type": "text",
          "id": "submit_text",
          "label": "t:sections.newsletter-password.blocks.email_form.settings.submit_text.label",
          "default": "Keep me updated"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "btn_primary",
              "label": "Primary"
            },
            {
              "value": "btn_secondary",
              "label": "Secondary"
            }
          ],
          "default": "btn_secondary",
          "label": "Submit button color style"
        },
        {
          "type": "checkbox",
          "id": "show_pass_btn",
          "default": true,
          "label": "t:sections.newsletter-password.blocks.email_form.settings.show_pass_btn.label"
        },
        {
          "type": "checkbox",
          "id": "show_pass_btn_icon",
          "default": false,
          "label": "t:sections.newsletter-password.blocks.email_form.settings.show_pass_btn_icon.label"
        },
        {
          "type": "text",
          "id": "pass_btn_text",
          "label": "t:sections.newsletter-password.blocks.email_form.settings.pass_btn_text.label",
          "default": "Enter store using password"
        },
        {
          "type": "select",
          "id": "button_style_pass",
          "options": [
            {
              "value": "btn_primary",
              "label": "Primary"
            },
            {
              "value": "btn_secondary",
              "label": "Secondary"
            }
          ],
          "default": "btn_secondary",
          "label": "\"Enter store\" button color style"
        },
        {
          "type": "select",
          "id": "button_style_login",
          "options": [
            {
              "value": "btn_primary",
              "label": "Primary"
            },
            {
              "value": "btn_secondary",
              "label": "Secondary"
            }
          ],
          "default": "btn_secondary",
          "label": "\"Enter\" button color style"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.newsletter-password.blocks.email_form.settings.show_social.label"
        },
        {
          "type": "text",
          "id": "small_text",
          "label": "t:sections.newsletter-password.blocks.email_form.settings.small_text.label",
          "default": "Spread the word"
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}