<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-grid.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
	@media screen and (max-width: 749px) {
		#shopify-section-{{ section.id }} {
			padding-top: {{ section.settings.padding_top | divided_by: 18.7 }}rem;
			padding-bottom: {{ section.settings.padding_bottom | divided_by: 18.7 }}rem;
		}
	}
	@media screen and (min-width: 750px) and (max-width: 1199px) {
		#shopify-section-{{ section.id }} {
			padding-top: {{ section.settings.padding_top | divided_by: 15.0 }}rem;
			padding-bottom: {{ section.settings.padding_bottom | divided_by: 15.0 }}rem;
		}
	}
	@media screen and (min-width: 1200px) {
		#shopify-section-{{ section.id }} {
			padding-top: {{ section.settings.padding_top | divided_by: 10.0 }}rem;
			padding-bottom: {{ section.settings.padding_bottom | divided_by: 10.0 }}rem;
		}
	}

	{% if section.settings.color_bg != blank %}
		#shopify-section-{{ section.id }} {
			background-color: {{ section.settings.color_bg }};
		}
	{% endif %}

#shopify-section-{{ section.id }} .collection__item h3 {
		font-weight: {{ section.settings.font_weight }};
	}
{%- endstyle -%}

<div class="page-width {% if settings.theme_animations != 'no-animation' %} aside-text scroll-animation{% endif %}">
  <h2 class="product-recommendations__heading {{ section.settings.horizontal_align }}">
    {{ section.settings.heading }}
  </h2>
  <ul
    class="recently-viewed-grid grid grid--2-col product-grid grid--quarter-max grid-main col-sm-2 col-lg-4 col-md-2 {{ section.settings.product_style }} {{ section.settings.rows_gap_mb }} {{ section.settings.columns_gap }} {{ section.settings.columns_gap_mb }}"
    role="list"
  ></ul>
</div>

<script>
    function setRecentlyViewedPdp() {
        const pdpData = {
            productId : "{{ product.id }}",
            productImage : "{{ product.featured_media | image_url: width: 535 }}",
            productSecondImage : "{{ product.media[1] | image_url: width: 533 }}",
            productTitle : "{{ product.title }}",
            productUrl : "{{ product.url }}",
            productPrice : "{{ product.price | money | remove_first: '' }}",
            productPrice2 : "{{ product.price | money | remove_first: '' }}"
        };

        const productArr = [];
        let jsonResp,
            jsonRespArr, 
            jsonRespArrStr;

        const numberOfProduct = 4;
        productArr.push(pdpData);
        const currPdpID = pdpData.productId;
        const pdpDataString = JSON.stringify(productArr);
        const localData = localStorage.getItem('recently_viewed');

        if (localData == null) {
            localStorage.setItem('recently_viewed', pdpDataString);
        }
        
        else if ( localData != null ) {
            const oldPdpData = localStorage.getItem('recently_viewed');
            const countPdpData = (oldPdpData.match(/productTitle/g) || []).length;
            const reVisitPdp =  oldPdpData.includes(currPdpID);
            if (countPdpData < numberOfProduct && reVisitPdp == false) {
                jsonResp = JSON.parse(oldPdpData);
                jsonRespArr = jsonResp.concat(productArr);
                jsonRespArrStr = JSON.stringify(jsonRespArr);
                localStorage.setItem('recently_viewed', jsonRespArrStr);
            }
            else if (countPdpData >= numberOfProduct && reVisitPdp == false) {
                jsonResp = JSON.parse(oldPdpData);
                jsonResp.shift();
                jsonRespArr = jsonResp.concat(productArr);
                jsonRespArr =  JSON.stringify(jsonRespArr);
                localStorage.setItem('recently_viewed', jsonRespArr);
            }
        }
    }

    const localViewed = localStorage.recently_viewed;

    function getRecentPdp (){
        const pdpData = JSON.parse(localStorage.getItem('recently_viewed'));
        const recentViewHtml = []
        pdpData.forEach(function(item){
            if ( item.productId ) {
              recentViewHtml.push(`
                <li class="grid__item collection__item grid-main__item" data-product-id="${item.productId}">
                    <div class="product-card card-wrapper {{ section.settings.product_style }}">
                        <a href="${item.productUrl}" class="full-unstyled-link{% if section.settings.zoom_image %} zoom-image{% endif %}">
                            <div class="card card--product{% if section.settings.show_image_outline %} card--outline{% endif %}">
															<nav
																class="card-navigation {{ product_info_align }}"
																data-metafileld="{{ product_card_product.metafields.namespace.key }}"
															>

																{% if section.settings.product_style == 'p-style-5' %}
																	<div class="card-navigation__info">
																		<h3 class="card-information__text{% if section.settings.heading_font == 'hf-heading' %} heading-font{% endif %} {{ section.settings.product_info_align  }} {{ section.settings.heading_size }}">
																				${item.productTitle}
																		</h3>
																		<div class="ab-price price {{ section.settings.price_size }} {% if section.settings.product_info_align == 'left' %} left{% elsif section.settings.product_info_align == 'center' %} center{% elsif section.settings.product_info_align == 'right' %} right{% endif %}"><span class="price-item price-item--regular">${item.productPrice}</span></div>
																	</div>
																{% endif %}
															</nav>
															<div class="card__inner"><div><div class="media media--transparent media-product-recommendations media--{{ section.settings.image_ratio }} media--hover-effect" {% if section.settings.image_ratio == 'adapt' %} style="padding-bottom:100%;"{% endif %}></div></div></div>
                            </div>
                            <div class="card-information">
                                <div class="card-information__wrapper {{ section.settings.product_info_align }} {{ section.settings.heading_color }}">
                                    <h3 class="card-information__text{% if section.settings.heading_font == 'hf-heading' %} heading-font{% endif %} {{ section.settings.heading_size }} {{ section.settings.heading_color }}">${item.productTitle}</h3>
                                    <div class="ab-price price {{ section.settings.price_size }} {% if section.settings.product_info_align == 'left' %} left{% elsif section.settings.product_info_align == 'center' %} center{% elsif section.settings.product_info_align == 'right' %} right{% endif %}"><span class="price-item price-item--regular">${item.productPrice}</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
              `)
            };
            
            setTimeout(() => {
              let recentViewImageBox = document.querySelector(`.recently-viewed-grid [data-product-id*="${item.productId}"] .media-product-recommendations`);
              if (item.productId && item.productImage.includes("Liquid error")) {
                recentViewImageBox.innerHTML += `{{ 'product-6' | placeholder_svg_tag }}`;
              } else {
								if (recentViewImageBox) {
									recentViewImageBox.innerHTML += `<img srcset="${item.productImage}" src="${item.productImage}" alt="Image ${item.productTitle}" height="280" width="250" loading="lazy" class="motion-reduce">`;
								}
							};

              {%- if section.settings.show_secondary_image and section.settings.secondary_image == blank -%}
                if (item.productId && !item.productSecondImage.includes("Liquid error")) {
                  recentViewImageBox.innerHTML += `<img srcset="${item.productSecondImage}" src="${item.productSecondImage}" alt="Image ${item.productTitle}" height="280" width="250" loading="lazy" class="motion-reduce">`;
                };
              {% endif %}
							{%- if section.settings.show_secondary_image and section.settings.secondary_image != blank -%}
								const imgUrl = "{{ section.settings.secondary_image | image_url: width: section.settings.secondary_image.width  }}";
								if (item.productId && !item.productSecondImage.includes("Liquid error")) {
									recentViewImageBox.innerHTML += `<img srcset="${imgUrl}" src="${imgUrl}" alt="Image ${item.productTitle}" height="280" width="250" loading="lazy" class="motion-reduce">`;
								};
              {% endif %}
            }, 300)
        });

        const recentBlock = `${recentViewHtml.join('')}`;
        const contentBlock = document.querySelectorAll('.recently-viewed-grid');
        contentBlock.forEach(element =>{
            element.innerHTML = recentBlock;
        })
    
    }

    document.addEventListener('DOMContentLoaded', () => { 
        setRecentlyViewedPdp();
        getRecentPdp();
    });
    document.addEventListener('shopify:section:load', () => {
        setRecentlyViewedPdp(); 
        getRecentPdp();
    });
</script>

{% schema %}
{
  "name": "Recently viewed product",
  "class": "spaced-section recently-viewed",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Recently viewed</p>",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "horizontal_align",
      "options": [
        {
          "value": "align-left",
          "label": "Left"
        },
        {
          "value": "align-center",
          "label": "Center"
        },
        {
          "value": "align-right",
          "label": "Right"
        }
      ],
      "default": "align-center",
      "label": "Horizontal align"
    },
		{
      "type": "select",
      "id": "columns_gap",
      "options": [
        {
          "value": "offset-col-lg-0",
          "label": "None"
        },
        {
          "value": "offset-col-lg-2",
          "label": "Small"
        },
        {
          "value": "offset-col-lg-3",
          "label": "Large"
        }
      ],
      "default": "offset-col-lg-2",
      "label": "Column gap"
    },
		{
      "type": "select",
      "id": "columns_gap_mb",
      "options": [
        {
          "value": "offset-col-sm-0",
          "label": "None"
        },
        {
          "value": "offset-col-sm-2",
          "label": "Small"
        }
      ],
      "default": "offset-col-sm-2",
      "label": "Column gap mobile"
    },
		{
      "type": "select",
      "id": "rows_gap_mb",
      "options": [
        {
          "value": "offset-row-sm-0",
          "label": "None"
        },
        {
          "value": "offset-row-sm-2",
          "label": "Small"
        },
        {
          "value": "offset-row-sm-5",
          "label": "Large"
        }
      ],
      "default": "offset-row-sm-5",
      "label": "Row gap mobile"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "product_style",
      "options": [
        {
          "value": "style-1",
          "label": "Buttons down hover"
        },
        {
          "value": "style-3",
          "label": "Buttons center hover"
        },
        {
          "value": "style-4",
          "label": "With borders"
        },
        {
          "value": "p-style-5",
          "label": "Title on hover"
        }
      ],
      "default": "style-1",
      "label": "Product style"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.product-recommendations.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.product-recommendations.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.product-recommendations.settings.image_ratio.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.product-recommendations.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.product-recommendations.settings.show_secondary_image.label"
    },
		{
			"type": "image_picker",
			"id": "secondary_image",
      "label": "t:sections.main-collection-product-grid.settings.secondary_image.label"
		},
    {
      "type": "checkbox",
      "id": "zoom_image",
      "default": false,
      "label": "Zoom image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": false,
      "label": "t:sections.product-recommendations.settings.show_image_outline.label"
    },
    {
      "type": "select",
      "id": "product_info_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content align"
    },
    {
      "type": "select",
      "id": "heading_font",
      "options": [
        {
          "value": "hf-heading",
          "label": "Heading"
        },
        {
          "value": "hf-body",
          "label": "Body"
        }
      ],
      "default": "hf-body",
      "label": "Heading font"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ],
      "default": "",
      "label": "Heading font size"
    },
    {
      "type": "select",
      "id": "font_weight",
      "options": [
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "600",
          "label": "Semi-bold"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "300",
          "label": "Light"
        }
      ],
      "default": "500",
      "label": "Heading font weight"
    },
		{
      "type": "select",
      "id": "heading_color",
      "options": [
        {
          "value": "color-text-main",
          "label": "Main"
        },
        {
          "value": "color-text-secondary",
          "label": "Secondary"
        },
        {
          "value": "color-general-heading",
          "label": "Heading"
        }
      ],
      "default": "color-text-main",
      "label": "Heading color"
    },
		{
      "type": "select",
      "id": "price_size",
      "options": [
        {
          "value": "extra-large",
          "label": "Extra large"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ],
      "default": "",
      "label": "Price font size"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color"
    }
  ],
  "presets": [
    {
      "name": "Recently viewed product"
    }
  ]
}
{% endschema %}
