{{ 'sales-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}

  #shopify-section-{{ section.id }} .sales-banner {
    background-color: {{ section.settings.background_color }};
    border: 2.5rem solid {{ section.settings.sale_border_color }};
  }
  #shopify-section-{{ section.id }} .sales-banner-heading {
    {% if section.settings.heading_font_weight != 'default' %}
      font-weight: {{ section.settings.heading_font_weight }};
    {% endif %}
    
    color: {{ section.settings.heading_font_color }};
  }
  #shopify-section-{{ section.id }} .sales-banner--sale-type,
  #shopify-section-{{ section.id }} .sales-banner--sale-amount,
  #shopify-section-{{ section.id }} .sales-banner--sale-terms {
    color: {{ section.settings.sale_font_color }};
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} .sales-banner--sale {
      font-size: {{ section.settings.sale_font_size_mobile | divided_by: 10.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner--sale-type {
      font-size: {{ section.settings.sale_font_size_mobile | divided_by: 60.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner--sale-unit {
      font-size: {{ section.settings.sale_font_size_mobile | divided_by: 25.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner--sale-terms {
      font-size: {{ section.settings.sale_font_size_mobile | divided_by: 80.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner--sale {
      font-size: {{ section.settings.sale_font_size_mobile | divided_by: 10.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner-heading {
      font-size: {{ section.settings.heading_font_size_mobile | divided_by: 10.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner-text {
      font-size: {{ section.settings.text_font_size_mobile | divided_by: 10.0 }}rem;
    }
  }
  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} .sales-banner-heading {
      font-size: {{ section.settings.heading_font_size | divided_by: 10.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner-text {
      font-size: {{ section.settings.text_font_size | divided_by: 10.0 }}rem;
    }
  }

  @media screen and (min-width: 1025px) {
    #shopify-section-{{ section.id }} .sales-banner--sale {
      font-size: {{ section.settings.sale_font_size | divided_by: 10.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner--sale-type {
      font-size: {{ section.settings.sale_font_size | divided_by: 50.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner--sale-unit {
      font-size: {{ section.settings.sale_font_size | divided_by: 50.0 }}rem;
    }
    #shopify-section-{{ section.id }} .sales-banner--sale-terms {
      font-size: {{ section.settings.sale_font_size | divided_by: 66.0 }}rem;
    }
  }

  #shopify-section-{{ section.id }} .sales-banner-right::before {
    background-color: {{ section.settings.sale_border_color }};
  }
  #shopify-section-{{ section.id }} .sales-banner-text {
    {% if section.settings.heading_font_weight != 'default' %}
      font-weight: {{ section.settings.text_font_weight }};
    {% endif %}
    color: {{ section.settings.text_font_color }};
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 18.7 }}rem;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 18.7 }}rem;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1199px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 15.0 }}rem;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 15.0 }}rem;
    }
  }
  @media screen and (min-width: 1200px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 10.0 }}rem;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 10.0 }}rem;
    }
  }
{%- endstyle -%}

<div class="sales-banner{% if section.settings.full_width %} sales-banner--full-width{% else %} page-width{% endif %}"> 
  <div class="sales-banner-wrapp">
    <div class="sales-banner-left">
      <div class="sales-banner-left--inner">
        <span class="sales-banner--sale-type">{{ section.settings.sale_type }}</span>
        <span class="sales-banner--sale-amount">
          <span class="sales-banner--sale">{{ section.settings.sale_amount }}</span>
          <span class="sales-banner--sale-unit">{{ section.settings.sale_unit }}</span>
        </span>
        <span class="sales-banner--sale-terms">{{ section.settings.sale_terms }}</span>
      </div>
    </div>
    <div class="sales-banner-right">
      <h2 class="sales-banner-heading">
        {{ section.settings.heading }}
      </h2>
      <div class="sales-banner-text rte">
        {{ section.settings.text }}
      </div>
      <div class="sales-banner-button-wrapp">
        {% if section.settings.button_label != empty %}
          {% render 'button',
            button_url: section.settings.button_link,
            button_label: section.settings.button_label | escape,
            button_style: section.settings.button_style,
            button_type: section.settings.button_type %}
        {% endif %}
        {% if section.settings.button_label2 != empty %}
          {% render 'button',
            button_url: section.settings.button_link2,
            button_label: section.settings.button_label2 | escape,
            button_style: section.settings.button_style2,
            button_type: section.settings.button_type2 %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Sales banner",
  "tag": "section",
  "class": "spaced-section section-sales-banner",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Sale"
    },
    {
      "type": "text",
      "id": "sale_type",
      "default": "SALE UP TO",
      "label": "Sale type"
    },
    {
      "type": "text",
      "id": "sale_amount",
      "default": "30",
      "label": "Sale amount"
    },
    {
      "type": "text",
      "id": "sale_unit",
      "default": "% OFF",
      "label": "Sale unit"
    },
    {
      "type": "text",
      "id": "sale_terms",
      "default": "* Optional legal note",
      "label": "Sale terms"
    },
    {
      "type": "range",
      "id": "sale_font_size",
      "min": 50,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 128
    },
    {
      "type": "range",
      "id": "sale_font_size_mobile",
      "min": 30,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Font size for mobile",
      "default": 98
    },
    {
      "type": "color",
      "id": "sale_font_color",
      "label": "Font color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#4d624e"
    },
    {
      "type": "color",
      "id": "sale_border_color",
      "label": "Border color",
      "default": "#A6CACA"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Announce your sale</p>",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 28
    },
    {
      "type": "range",
      "id": "heading_font_size_mobile",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Font size for mobile",
      "default": 24
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "default",
      "label": "Font weight"
    },
    {
      "type": "color",
      "id": "heading_font_color",
      "label": "Font color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Highlight sale campaigns, discounts, and promotions.</p>",
      "label": "t:sections.image-with-text.blocks.text.settings.text.label"
    },
    {
      "type": "range",
      "id": "text_font_size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_font_size_mobile",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size for mobile",
      "default": 16
    },
    {
      "type": "select",
      "id": "text_font_weight",
      "options": [
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "default",
      "label": "Font weight"
    },
    {
      "type": "color",
      "id": "text_font_color",
      "label": "Font color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button",
      "label": "t:sections.buttons.button_label",
      "info": "t:sections.buttons.button_label_info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.buttons.button_link"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "btn_primary",
          "label": "Primary"
        },
        {
          "value": "btn_secondary",
          "label": "Secondary"
        }
      ],
      "default": "btn_primary",
      "label": "t:sections.buttons.button_color_style"
    },
    {
      "type": "select",
      "id": "button_type",
      "options": [
        {
          "value": "button",
          "label": "t:sections.buttons.select_button_default"
        },
        {
          "value": "button_icon",
          "label": "t:sections.buttons.select_button_default_icon"
        },
        {
          "value": "button_outline",
          "label": "t:sections.buttons.select_button_outline"
        },
        {
          "value": "button_outline_icon",
          "label": "t:sections.buttons.select_button_outline_icon"
        },
        {
          "value": "inline_button",
          "label": "t:sections.buttons.select_button_inline"
        },
        {
          "value": "button_with_underline",
          "label": "t:sections.buttons.select_button_with_underline"
        },
        {
          "value": "button_underline",
          "label": "t:sections.buttons.select_button_underline"
        }
      ],
      "default": "button",
      "label": "t:sections.buttons.select_button_type"
    },
    {
      "type": "text",
      "id": "button_label2",
      "default": "Button",
      "label": "t:sections.buttons.button_label",
      "info": "t:sections.buttons.button_label_info"
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": "t:sections.buttons.button_link"
    },
    {
      "type": "select",
      "id": "button_style2",
      "options": [
        {
          "value": "btn_primary",
          "label": "Primary"
        },
        {
          "value": "btn_secondary",
          "label": "Secondary"
        }
      ],
      "default": "btn_primary",
      "label": "t:sections.buttons.button_color_style"
    },
    {
      "type": "select",
      "id": "button_type2",
      "options": [
        {
          "value": "button",
          "label": "t:sections.buttons.select_button_default"
        },
        {
          "value": "button_icon",
          "label": "t:sections.buttons.select_button_default_icon"
        },
        {
          "value": "button_outline",
          "label": "t:sections.buttons.select_button_outline"
        },
        {
          "value": "button_outline_icon",
          "label": "t:sections.buttons.select_button_outline_icon"
        },
        {
          "value": "inline_button",
          "label": "t:sections.buttons.select_button_inline"
        },
        {
          "value": "button_with_underline",
          "label": "t:sections.buttons.select_button_with_underline"
        },
        {
          "value": "button_underline",
          "label": "t:sections.buttons.select_button_underline"
        }
      ],
      "default": "button_outline",
      "label": "t:sections.buttons.select_button_type"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Enable full width section"
    }
  ],
  "presets": [
    {
      "name": "Sales banner"
    }
  ]
}
{% endschema %}
